.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.63);
}

.image {
    width: 100%;
    height: auto;
}

.text {
    position: relative;
    margin-left: 620px;
    margin-top: 20px; 
}

.inf {
    color: brown;
    background-color: #ffe6e6; 
    border: 2px solid #ffe6e6;
    padding: 4px;
    width: 100%;
    box-sizing: border-box; 
}

.back {
    color: white;
    position: fixed;
    top: 30%;
    left: 90px; 
}

.link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.link:hover {
    background-color: #830101; 
}

.line {
    color: #656565; 
    background-color: #850000ad; 
    height: 5px; 
    border: none;
    margin-top: 0;
}
.index{
    background: fixed url(https://media.istockphoto.com/id/1298523613/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%B0%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BD%D0%B0%D1%8F-%D0%B1%D0%B5%D0%BB%D0%B0%D1%8F-%D0%B8-%D1%81%D0%B2%D0%B5%D1%82%D0%BB%D0%BE-%D1%81%D0%B5%D1%80%D0%B0%D1%8F-%D0%B2%D0%BE%D0%BB%D0%BD%D0%B0-%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9-%D0%BC%D1%8F%D0%B3%D0%BA%D0%BE%D0%B9-%D1%80%D0%BE%D1%81%D0%BA%D0%BE%D1%88%D0%BD%D0%BE%D0%B9-%D1%82%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D1%8B-%D1%81-%D0%B3%D0%BB%D0%B0%D0%B4%D0%BA%D0%B8%D0%BC-%D0%B8.jpg?s=612x612&w=0&k=20&c=grBDcSgrfjoO-wkVNv82FHS90GoVVzl2jcmgYJgp74s=);
}

@media only screen and (max-width: 768px) {
    .image-container {
        position: absolute;
        width: 100%;
    }

    .text {
        margin-left: 10px;
        margin-top: 660px;
    }

    .back {
        position: absolute;
        margin-left: 0%;
    }
}
  
  @media only screen and (min-width: 769px) and (max-width: 990px) {
    .image-container {
        position: absolute;
        width: 100%;
    }
    .text {
        margin-left: 10px;
        margin-top: 1100px;
    }

    .back {
        position: absolute;
        margin-left: 30%;
    }
  }


#header {
    text-align: center;
}
.hobby-edit{
    transition: transform 0.3s, filter 0.3s;
}
.hobby-edit:hover{
    transform: scale(1.03);
    filter: opacity(80%);
}
.hobby-music{
    transition: transform 0.3s, filter 0.3s;
}
.hobby-music:hover{
    transform: scale(1.03);
    filter: opacity(80%);
}
.hobby-sport{
    transition: transform 0.3s, filter 0.3s;
}
.hobby-sport:hover{
    transform: scale(1.03);
    filter: opacity(80%);
}
.link-1{
    background-image: url('https://static.tildacdn.com/tild3765-6539-4436-a135-656538386434/Adobe-After-Effects-.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 70px 90px;
    color: #fff;  
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}
.link-2{
    background-image: url('https://www.macworld.com/wp-content/uploads/2023/04/apple-music-spotify-graphic-4.jpg?quality=50&strip=all');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 70px 90px;
    color: #fff;  
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}
.link-3{
    background-image: url('https://native-english.com.ua/wp-content/uploads/2017/10/original.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 70px 90px;
    color: #fff;  
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}


.index-1{
    background: fixed url('https://bogatyr.club/uploads/posts/2023-02/1675369013_bogatyr-club-p-prozrachnii-fioletovii-fon-fon-vkontakte-1.jpg');
}
.edit {
    background-color: rgba(255, 255, 255, 0.203);
}

.logo-edit {
    position: absolute;
    width: 25%;
    left: 85%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.title-edit {
    text-align: center;
}

.styled-table {
    width: 20%;
    margin-left: 45%;
    font-size: 18px;
    text-align: center;
    border-radius: 3%;
    border: 2px solid #ffd4fa;
    
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
.styled-table th {
    background-color: #ab7c9d;
}
.body-edit {
    background-image: url('https://bogatyr.club/uploads/posts/2023-02/1675369013_bogatyr-club-p-prozrachnii-fioletovii-fon-fon-vkontakte-1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; 
}

#youtube-edit-1,
#youtube-edit-2 {
    position: relative;
    margin-left: 50px;
}

.image-edit {
    position: absolute;
    width: 30%;
    left: 1%;
    top: 70%;
    transform: translate(0, -50%);
}

@media only screen and (max-width: 768px) {
    .logo-edit {
        position: absolute;
        width: 30%;
        left: 85%;
        top: 30%;
    }
    .tx{
        width: 70%;
    }
    .image-edit{
        width: 80%;
        margin-left: 10%;
        margin-top: 30%;
    }
    .styled-table{
        margin-top: 55%;
        width: 80%;
        margin-left: 10%;
    }
    #youtube-edit-1,
    #youtube-edit-2 {
    position: relative;
    width: 50%;
    height: 50%;
}
}
  
  @media only screen and (min-width: 769px) and (max-width: 990px) {
        .logo-edit {
            position: absolute;
            width: 50%;
            left: 85%;
            top: 30%;
        }
        .tx{
            width: 70%;
        }
        .image-edit{
            margin-top: 10%;
            width: 40%;
        }
  }

  @media only screen and (min-width: 991px) and (max-width: 1300px) {
    .logo-edit {
        position: absolute;
        width: 50%;
        left: 85%;
        top: 30%;
    }
    .tx{
        width: 70%;
    }
    .image-edit{
        margin-top: 10%;
        width: 40%;
    }
}


.music {
    background-color: rgba(165, 42, 42, 0.334);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.h1-music {
    text-align: center;
}

.text-music {
    margin-left: 30%;
    max-width: 800px;
    font-size: large;
    margin-top: -190px;
}

.photos-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.photo-0,
.photo-1,
.photo-2 {
    width: 30%;
    margin-top: 20px;
    
}

.h2-music{
    margin-left: 5%;
}
.position-2{
    margin-left: 40%;
    margin-top: -80px;
}
.position-3 {
    margin-left: 75%;
    margin-top: -80px;
}

.text-abba{
    display: none;
    background-color: #ffe5e5;
    padding: 10px;
    border: 1px solid #8c000048;
    border-radius: 10px;
    max-width: 420px;
    margin-top: 10px;
    text-align: center;
}
.lana-del-rey{
    display: none;
    background-color: #ffe5e5;
    padding: 10px;
    border: 1px solid #8c000048;
    border-radius: 10px;
    max-width: 420px;
    margin-top: 10px;
    margin-left: 35%;
}
.text-adele {
    display: none;
    background-color: #ffe5e5;
    padding: 10px;
    border: 1px solid #8c000048;
    border-radius: 10px;
    max-width: 420px;
    margin-top: 10px;
    margin-left: 70%;
}

.h2-music:hover + .text-abba,
.position-2:hover + .lana-del-rey,
.position-3:hover + .text-adele {
    display: block;
}
.bd-music {
        background-color: rgb(183, 183, 183);
    }


@media (max-width: 768px) {
    .text-music{
        text-align: center;
        margin-top: 5px;
        margin-left: 0%;
    }
    .photos-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .photo-0, .photo-1, .photo-2 {
        width: 100%;
    }
    .h2-music, .position-2, .position-3 {
        display: none;
    }
}


.link-contact{
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.link-contact:hover {
    background-color: #830101; 
}
.underlined-heading {
    text-align: center;
    position: relative;

}
.container-contact{
    position: absolute;
    top: 10%;
    left: 67%;
    width: 291px;
}
.background-contact{
    position: fixed;
    width: 100%;
}
#contact-instagram{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
}
#contact-facebook {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
}
#contact-telegram {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
}
.image-1{
    position: fixed;
    top: 27%;
    left: 75%;
    width: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #8a0000;
}
.cnt{
    background-color: rgba(243, 221, 194, 0.408);
}

@media screen and (max-width: 900px) {
.container-contact{
    display: none;
}
.background-contact{
    display: none;
}
.image-1{
    display: none;
}
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-sport, .text-dance, .text-pole, .text-skale {
    font-size: larger;
    width: 60%;
}

.text-sport, .text-dance, .text-pole, .text-skale, .cursive-1 {
    padding: 5px 10px;
}

.text-sport {
    margin-top: 20px;
}

.text-dance {
    margin-top: 7%;
}

.text-pole {
    margin-top: 6%;
}

.text-skale {
    margin-top: 4%;
}

.menu {
    margin-top: 50px;
}

.cursive-1 {
    background-color: #de7011;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cursive-1:hover {
    background-color: #7c3a00;
}
hr{
    background: rgb(255, 115, 0);
    border: 0;
    height: 5px;
    margin: 20px 0;
}
.sprt{
    background: fixed url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFgdHuMbzvoEeqI93jxQPjXm2TNODbZgYdw31BdhOuw5-wNY8fhe66KphVFR7DYcdmfwU&usqp=CAU');
    background-size: 100% 100%;
}

.form-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submission {
    margin-top: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(240, 48, 48);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #a04545;
}